spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/paymentdb
    username: paymentservice
    password: test_payment_password
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000ms
  
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    root: INFO
    "[com.shop.payment]": DEBUG
    "[org.springframework.web]": DEBUG
    "[org.hibernate.SQL]": DEBUG