apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-replica
  namespace: shop-msa
  labels:
    app: redis
    role: replica
spec:
  serviceName: redis-replica-headless
  replicas: 2  # Replica 2개 유지
  selector:
    matchLabels:
      app: redis
      role: replica
  template:
    metadata:
      labels:
        app: redis
        role: replica
    spec:
      containers:
      - name: redis
        # image: redis:7.2.7-alpine3.22 # 가장 보편화된 안정적인 버전
        image : redis:8.4.0-alpine3.22 # 최신버전
        command:
          - redis-server
          - --slaveof
          - redis-master
          - "6379"
          - --save
          - "900"
          - "1"
          - --save
          - "300"
          - "10"
        ports:
        - containerPort: 6379
          name: redis
          protocol: TCP
        volumeMounts:
        - name: data
          mountPath: /data
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
  # 영구 볼륨 클레임 템플릿
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi
